html,
body {
  height: 100%;
}
.container-big {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-small {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  @extend %DMSans-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
