$menuLink: #436372;
$mainText: #1a1a1a;
$subtext: #8b8b8b;
$title: #243f4d;
$subtitle: #a3bbc8;
$btnPrimary: #a3bbc8;
$btnSecondary: #edf1f4;
$peachFirst: #fcd7b6;

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-style: normal;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-style: normal;
}

%DMSans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-style: normal;
}

%DMSans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-style: normal;
}
