@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 35px;
  }
  &__list-link {
    @extend %rubik-500;
    color: $menuLink;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;
  &__search {
    background-color: $btnSecondary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__link-img {
    padding-top: 17px;
    margin: 0 auto;
  }
  &__link {
    position: relative;
  }
  &__btn {
    cursor: pointer;
  }
  &__btn-img {
    margin: 0 auto;
  }
  &__storage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 180px;
    height: 50px;
    background-color: $peachFirst;
    border-radius: 35px;
  }
  &__storage .user-nav__link {
    padding: 0 27px;
  }
  &__storage .user-nav__link:last-child {
    border-left: 1px solid #fde7d3;
  }
  &__storage .user-nav__link-img {
    padding-top: 10px;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    top: 3px;
    right: 15px;
    color: #243f4d;
    text-align: center;
    line-height: 16px;
    background-color: #fff;
  }
  &__btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $btnPrimary;
  }
}

.footer {
  @extend %rubik-400;
  font-size: 14px;
}

.footer-top {
  padding: 90px 0 65px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__logo {
    display: block;
    margin-bottom: 28px;
  }
  &__contact {
    width: 200px;
    line-height: 24px;
  }
  &__address,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 18px;
    color: $footerText;
  }
  &__title {
    @extend %DMSans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 18px 0 20px;
  }
  &__list-item {
    margin-bottom: 18px;
  }
  &__list-link {
    color: $footerText;
  }
  &__item-form {
    max-width: 270px;
  }
  &__text {
    color: $footerText;
    margin-bottom: 35px;
    line-height: 24px;
  }
  &__form-input {
    max-width: 170px;
    border: none;
    background-color: $peachLight;
    padding: 16px 16px;
    font-size: 12px;
    @extend %DMSans-400;
    &::placeholder {
      color: #234969;
    }
  }
  &__form-btn {
    color: #fff;
    background-color: $btnPrimary;
    border: none;
    padding: 14px 16px;
    @extend %DMSans-400;
    cursor: pointer;
  }
}
.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    color: $footerText;
  }
  &__link {
    color: $footerText;
    padding: 0 16px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__link + .footer-bottom__link {
    border-left: 1px solid $footerText;
  }
}

.top-slider {
  &__wrapper {
    height: 820px;
    background-image: url("../images/slider-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 225px;
  }
  &__content {
    display: block;
    max-width: 430px;
  }
  &__title {
    @extend %rubik-500;
    color: $title;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 36px;
  }
  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: $menuLink;
    margin-bottom: 34px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: 20px;
    background-color: $btnPrimary;
    @extend %rubik-500;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
  }
  &__btn-img {
    display: inline;
    width: 24px;
    height: 10px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  padding-top: 210px;
  margin-top: 200px;
  li {
    padding: 0 5px;
    font-size: 11px;
    @extend %rubik-500;
    button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      background-color: #fde3cc;
    }
    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}
.info {
  margin-bottom: 80px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fef7f0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 605px;
    padding: 20px 80px;
    margin: 0 auto;
    height: 170px;
  }
  &__item + .info__item {
    border-left: 1px solid #e8e4df;
  }
  &__item-inner {
    display: flex;
    align-items: start;
  }
  &__item-content {
    margin-left: 25px;
    width: 100%;
  }
  &__item-title {
    @extend %DMSans-700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__item-text {
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 220px;
  }
}

.products {
  margin-bottom: 80px;
  &__title {
    margin-bottom: 35px;
  }
  &__filter-menu {
    text-align: center;
    margin-bottom: 85px;
  }
  &__filter-item {
    border: none;
    background-color: transparent;
    @extend %DMSans-700;
    font-size: 18px;
    color: $subtext;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #191919;
      transition: all 0.3s;
    }
  }
  .mixitup-control-active {
    color: #191919;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 270px;
    height: 380px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 0 10px 40px;
    &:hover {
      .products__item-menu {
        display: block;
      }
    }
  }
  &__item-img {
    display: block;
    margin: auto;
  }
  &__item-title {
    @extend %DMSans-400;
    color: $title;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 15px;
  }
  &__item-price {
    @extend %DMSans-700;
    font-size: 16px;
    color: $subtitle;
  }
  &__item-menu {
    position: absolute;
    display: none;
    width: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  &__item-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 8px;
    cursor: pointer;
    &:hover {
      background-color: $subtitle;
      transition: all 0.3s;
      path {
        fill: rgb(255, 255, 255);
        transition: all 0.3s;
      }
    }
  }
}

.video {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "media";
